<div class="city-select-container">
    <form method="POST" action="/rooms/filteredListing" class="inline-form">
        <div class="city-select-container">
            <h3>Location</h3>
            <select name="location">
                <option value="All" {{#if_eq location "All"}} {{/if_eq}}>All</option>
                <option value="Toronto" {{#if_eq location "Toronto"}} {{/if_eq}}>Toronto</option>
                <option value="Vancouver" {{#if_eq location "Vancouver"}} {{/if_eq}}>Vancouver</option>
                <option value="Ottawa" {{#if_eq location "Ottawa"}} {{/if_eq}}>Ottawa</option>
            </select>
        </div>
        <div class="check-in-check-out">
            {{#if errorMessages.invalidCheckInCheckOut}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidCheckInCheckOut}}</span>
                </div>
            {{/if}}
            <span>
                <h7>Check-In</h7>
                <input type="date" name="checkIn" value={{userData.checkIn }}>
            </span>
            <span>
                <h7>Check-Out</h7>
                <input type="date" name="checkOut" value={{userData.checkOut}}> 
            </span>
        </div>
    
        <div>
            {{#if errorMessages.invalidGuests}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidGuests}}</span>
                </div>
            {{/if}}
            <h7>Guests</h7>
            <input type="number" name="guestCount" placeholder="Number of Guests" min="1"  value={{userData.guestCount}}> 
        </div>
        
        <input type="submit" value="Go" class="button">
    </form>
</div>

<section>
    <div class="roomListing-section">
        {{#if admin}}
            {{#each roomList}}
                <article class="room">
                    {{> roomDescription}}
                    <a href="/rooms/edit/{{this.id}}" class="button">Edit Room</a>
                    <a href="/rooms/delete/{{this.id}}?method=DEL" class="button">Delete Room</a>
                </article>
            {{else}}
                <h3>No Rooms in Database</h3>
            {{/each}}
        {{else}}
            {{#each roomList}}
            <article class="room">
                {{> roomDescription}} 
            </article>
            {{else}}
                <h3>No Rooms in Database</h3>
            {{/each}}
        {{/if}}
    </div>
</section>