<div>
    <form method="POST" action="/rooms/addRoom" class="form" enctype="multipart/form-data">
        <div>
            {{#if errorMessages.invalidTitle}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidTitle}}</span>
                </div>
            {{/if}}
            <h7>Title</h7>
            <input type="text" name="title" placeholder="Room Name" value="{{roomData.title}}"> 
        </div>
        <div>
            {{#if errorMessages.invalidRoomDescription}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidRoomDescription}}</span>
                </div>
            {{/if}}
            <h7>Description</h7>
            <textarea name="description">{{roomData.description}}</textarea>
        </div>

        <div>
            <h7>Featured Room</h7>
            <input type="checkbox" name="isFeatured" {{#if_checked roomData.featured}} {{/if_checked}}>
        </div>

        <div>
            {{#if errorMessages.invalidBedRooms}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidBedRooms}}</span>
                </div>
            {{/if}}
            <h7>No. of Bed Rooms</h7>
            <input min="1" type="Number" name="bedRooms" value={{roomData.bedRooms}}>
        </div>

        <div>
            {{#if errorMessages.invalidBeds}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidBeds}}</span>
                </div>
            {{/if}}
            <h7>No. of Beds</h7>
            <input min="1" type="Number" name="beds" value={{roomData.beds}}>
        </div>

        <div>
            {{#if errorMessages.invalidBaths}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidBaths}}</span>
                </div>
            {{/if}}
            <h7>No. of Baths</h7>
            <input min="1" type="Number" name="baths" value={{roomData.baths}}>
        </div>

        <div>
            {{#if errorMessages.invalidMaxOccupancy}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidMaxOccupancy}}</span>
                </div>
            {{/if}}
            <h7>Max Occupancy</h7>
            <input min="1" type="Number" name="maxOccupancy" value={{roomData.maxOccupancy}}>
        </div>
        
        <div>
            {{#if errorMessages.invalidPrice}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidPrice}}</span>
                </div>
            {{/if}}
            <h7>Price/night</h7>
            <input min="1" type="number" name="price" value={{roomData.price}} placeholder="Price">
        </div>

        <div class="city-select-container">
            <h3>Location</h3>
            <div>
                <select name="location">
                <option value="Toronto" selected>Toronto</option>
                <option value="Vancouver">Vancouver</option>
                <option value="Ottawa">Ottawa</option>
                </select>
            </div>
        </div>
        <div>
            <h3>Upload Image</h3>
            <input type="file" name="image" accept="image/png,image/jpg,image/jpeg,image/gif" />
        </div>
        {{#if errorMessages.unexpectedErrors}}
            <div class="tooltip">{{errorMessages.unexpectedErrors}}</div>
        {{/if}}
        <input type="submit" value="Add" class="button">
    </form>
</div>