<div class="room-page">
    <section class="room">
        <header class="bottom-border">
            <div class="room-image-container"><img class="room-image" src="{{roomData.imagePath}}" alt="Product Image"><div>
        </header>
        <main class="room-description">
            <div><h2>{{roomData.title}}</h2></div>

            <div>
                <span class="material-icons">location_city</span>
                <span>{{roomData.location}}</span>
            </div>
            
            <div class="room-highlights">
                <span>{{roomData.maxOccupancy}} {{#if_singular roomData.maxOccupancy "guest"}} {{/if_singular}}</span>
                <span>{{roomData.bedRooms}} {{#if_singular roomData.bedRooms "bedroom"}} {{/if_singular}}</span>
                <span>{{roomData.beds}} {{#if_singular roomData.beds "bed"}} {{/if_singular}}</span>
                <span>{{roomData.baths}} {{#if_singular roomData.baths "bath"}} {{/if_singular}}</span>
            </div>
            <div>
                <div>
                    <span><i class="fas fa-info-circle"></i></span>
                    <span>Highlights</span>
                </div>
                
                {{#each roomData.description}}
                    <div>
                    {{#if this.heading}}
                        <h4>{{this.heading}}</h4>
                    {{/if}}
                    {{#if this.paragraph}}
                        <p>{{this.paragraph}}</p>
                    {{/if}} 
                    </div>
                {{/each}}
            </div>
            <div>
                <span><i class="fas fa-tag"></i></span>
                <span>${{roomData.price}} CAD/night</span>
            </div>
        </main>
    </section>
    <section class="room">
        <form class="form form-wide" action="/rooms/reserve" method="POST">
            <div class="check-in-check-out">
                {{#if errorMessages.invalidCheckInCheckOut}}
                    <div class="tooltip">
                        <span class="material-icons">error</span>
                        <span class="tooltiptext">{{errorMessages.invalidCheckInCheckOut}}</span>
                    </div>
                {{/if}}
                <div>
                    <h7>Check-In</h7>
                    <input type="date" name="checkIn" value={{userData.checkIn }}>
                </div>
                <div>
                    <h7>Check-Out</h7>
                    <input type="date" name="checkOut" value={{userData.checkOut}}> 
                </div>
            </div>
        
            <div>
                {{#if errorMessages.invalidGuests}}
                    <div class="tooltip">
                        <span class="material-icons">error</span>
                        <span class="tooltiptext">{{errorMessages.invalidGuests}}</span>
                    </div>
                {{/if}}
                <h7>Guests</h7>
                <input type="number" name="guestCount" placeholder="Number of Guests" min="1"  value={{userData.guestCount}}> 
            </div>
            
            <input type="submit" value="Reserve" class="button">
        </form> 
    </section>
</div>