<div class="room-page">
    <section class="room">
        <header class="bottom-border">
            <div class="room-image-container"><img class="room-image" src="{{roomData.imagePath}}" alt="Product Image"><div>
        </header>
        <main class="room-description">
            <div>
                <span class="material-icons">location_city</span>
                <span>{{roomData.location}}</span>
            </div>
            
            <div><h3>{{roomData.title}}</h3></div>
            
            <div>
                <span class="material-icons">description</span>
                {{#each roomData.description}}
                    <div>
                    {{#if this.heading}}
                        <h5>{{this.heading}}</h5>
                    {{/if}}
                    {{#if this.paragraph}}
                        <p>{{this.paragraph}}</p>
                    {{/if}} 
                    </div>
                {{/each}}
            </div>
            <div>
                <span><i class="fas fa-tag"></i></span>
                <span>${{this.price}} CAD/night</span>
            </div>
            
        </main>
    </section>
    <section class="room">
        <form class="form form-wide" action="" method="POST">
            <div class="check-in-check-out">
                {{#if errorMessages.invalidCheckInCheckOut}}
                    <div class="tooltip">
                        <span class="material-icons">error</span>
                        <span class="tooltiptext">{{errorMessages.invalidCheckInCheckOut}}</span>
                    </div>
                {{/if}}
                <div>
                    <h7>Check-In</h7>
                    <input type="date" name="checkIn" value={{userData.checkIn }}>
                </div>
                <div>
                    <h7>Check-Out</h7>
                    <input type="date" name="checkOut" value={{userData.checkOut}}> 
                </div>
            </div>
        
            <div>
                {{#if errorMessages.invalidGuests}}
                    <div class="tooltip">
                        <span class="material-icons">error</span>
                        <span class="tooltiptext">{{errorMessages.invalidGuests}}</span>
                    </div>
                {{/if}}
                <h7>Guests</h7>
                <input type="number" name="guestCount" placeholder="Number of Guests" min="1"  value={{userData.guestCount}}> 
            </div>
            
            <input type="submit" value="Reserve" class="button">
        </form> 
    </section>
</div>