<section>
    <div class="roomListing-section">
        {{#each roomList}}
            <article class="room">
                {{!-- <header class="bottom-border">
                    <div class="room-image-container"><img class="room-image" src={{this.imagePath}} alt="Product Image"><div>
                </header> --}}
                <p>{{this.location}}</p>
                <h3>{{this.name}}</h3>
                <p>{{this.description}}</p>
                <p>${{this.price}} CAD/night</p>     
            </article>
        {{/each}}
    </div>
</section>