<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta name="description" content="A room booking app inspired by Airbnb developed by Kunal Dhawan">
    <meta name="author" content="Kunal Dhawan">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/bf16eed826.js" crossorigin="anonymous"></script>
    <title>{{{title}}}</title>
</head>
<body>
    <header class="header">
        <div class="logo-div">
            <img src="/img/logo.png" alt="Logo" class="logo">
            <span>Clone App</span>
        </div>
        <nav>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                {{#if user}}
                    <li><a href="/user/dashboard">Dashboard</a></li>
                    <li><a href="/user/logout">Sign Out</a></li>
                {{else}}
                    <li><a href="/user/login">Sign In</a></li>
                    <li><a href="/user/registration">Register</a></li>
                {{/if}}   
            </ul>
        </nav >
    </header>

    <main class="main">
        {{#if user}}
            <div class="user-header">
                <h2>Welcome {{user.FirstName}} {{user.LastName}}</h2>
            </div>
        {{/if}}
        {{{ body }}}
    </main>
    
    <footer class="footer">
        <div class="footer-socials">
            <a href="https://www.linkedin.com/in/kunaldhawan93"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/kunal-93"><i class="fab fa-github-square"></i></a>
            <a href="https://kunaldhawan93.com"><i class="fas fa-briefcase"></i></a>
        </div>
        <div class="footer-info">
            <div>All rights reserved</div>
            <div>&copy; Copyright 2020, AirBnB Clone Inc</div>
            <div>PRIVACY | LEGAL | TERMS</div>
        </div>
            
        <div class="footer-info">
            <h4>Contact us</h4>
            <div><strong>Phone:</strong> +1-646-324-456</div>
            <div><strong>Toll Free:</strong> +1-888-334-000</div>
            <div><strong>Address:</strong> 24 Fake Street, Toronto, ON - L34 3N4</div>
        </div>   
    </footer>
</body>
</html>