<div class="adminHeader">
    <div>
        <h2>Welcome {{user.FirstName}} {{user.LastName}}</h2>
    </div>
    <div class="adminOptions">
        <form method="POST" action="/rooms/createButton">
            <input type="submit" id="createRoomBtn" value="Create Room" class="button">
        </form>
    </div>
</div>

{{#if addSuccessful}}
    <h4>Room Added Successfully</h4>
{{/if}}

{{#if adminAction.addRoom}}
    <div>
        <form method="POST" action="/rooms/addRoom" class="form" enctype="multipart/form-data">
            <div>
                {{#if errorMessages.invalidTitle}}
                    <div class="tooltip">
                        <span class="material-icons">error</span>
                        <span class="tooltiptext">{{errorMessages.invalidTitle}}</span>
                    </div>
                {{/if}}
                <h7>Title</h7>
                <input type="text" name="title" placeholder="Room Name" value={{userData.title}}> 
            </div>
            <div>
                {{#if errorMessages.invalidRoomDescription}}
                    <div class="tooltip">
                        <span class="material-icons">error</span>
                        <span class="tooltiptext">{{errorMessages.invalidRoomDescription}}</span>
                    </div>
                {{/if}}
                <h7>Description</h7>
                <textarea name="description" value={{userData.description}}></textarea>
            </div>

            <div>
                <h7>Featured Room</h7>
                <input type="checkbox" name="isFeatured">
            </div>

            <div>
                <h7>Price/night</h7>
                <input min="1" type="number" name="price" value={{userData.price}} placeholder="Price">
            </div>

            <div class="city-select-container">
                <h3>Location</h3>
                <div>
                    <select name="location">
                    <option value="Toronto" selected>Toronto</option>
                    <option value="Vancouver">Vancouver</option>
                    <option value="Ottawa">Ottawa</option>
                    <option value="Montreal">Montreal</option>
                    <option value="London">London</option>
                    </select>
                </div>
            </div>
            <div>
                <h3>Upload Image</h3>
                <input type="file" name="image">
            </div>
            {{#if errorMessages.UnexpectedErrors}}
                <div class="tooltip">{{errorMessages.UnexpectedErrors}}</div>
            {{/if}}
            <input type="submit" value="Add" class="button">
        </form>
    </div>
{{/if}}

<div>
    <h2 class="featured-rooms-heading">Rooms</h2>
    <div class="roomListing-section">
        {{#each Rooms}}
            <article class="room">
                <header class="bottom-border">
                    <div class="room-image-container"><img class="room-image" src={{this.imagePath}} alt="Product Image"><div>
                </header>
                <p>{{this.location}}</p>
                <h3>{{this.title}}</h3>
                <p>{{this.description}}</p>
                <p>${{this.price}} CAD/night</p>     
                <a href="/rooms/edit/{{this.id}}" class="button">Edit Room</a>
                <a href="/rooms/delete/{{this.id}}?method=DEL" class="button">Delete Room</a>
            </article>
        {{/each}}
    </div>
</div>