<div class="hero-image">
    <form method="POST" action="/rooms/listing" class="form">
        <h2>Hey {{user.FirstName}}, Book your first room to get 70% discount</h2>
        
        <div class="city-select-container">
            <h3>Where in Canada</h3>
            <div>
                <select name="location" value={{userData.location}}>
                    <option value="Toronto">Toronto</option>
                    <option value="Vancouver">Vancouver</option>
                    <option value="Ottawa">Ottawa</option>
                </select>
            </div>
        </div>

        <div class="check-in-check-out">
            {{#if errorMessages.invalidCheckInCheckOut}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidCheckInCheckOut}}</span>
                </div>
            {{/if}}
            <div>
                <h7>Check-In</h7>
                <input type="date" name="checkIn" value={{userData.checkIn }}>
            </div>
            <div>
                <h7>Check-Out</h7>
                <input type="date" name="checkOut" value={{userData.checkOut}}> 
            </div>
        </div>
    
        <div>
            {{#if errorMessages.invalidGuests}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidGuests}}</span>
                </div>
            {{/if}}
            <h7>Guests</h7>
            <input type="number" name="guestCount" placeholder="Number of Guests" min="1"  value={{userData.guestCount}}> 
        </div>
        
        <input type="submit" value="Search" class="button">
    </form>
</div>

{{> roomListing}}